/*
BG: #171930
MAIN: #98cded
MAIN DARKER: #75799e
BG LIGHT: #444878
*/

body {
    color: #ffffff;
    background-color: #171930;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
h1 {
    color: #98cded;
    font-size: 34px;
}
h2 {
    color: #98cded;
	font-size: 26px;
}
h3 {
    color: #98cded;
	font-size: 20px;
}
a {
    color: #98cded;
}
header {
    background-color:#171930;
    overflow: auto;
    height: auto;
}
footer {
    background-color: #444878;
    color: #ffffff;
    font-size: small;
    margin-left: -50px;
    margin-right: -50px;
    text-align: center;
    margin-top: auto;
    box-shadow: 0 50vh 0 50vh #444878;
}
